<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-warning" role="alert" data-turbo-cache="false">
      <h4 class="alert-heading">
        <%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:
      </h4>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :image, class: 'form-label' %><br />
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <% if form.object.image.attached? %>
    <div class="field mb-3 form-check">
      <%= image_tag form.object.image, height: 100 %>
    </div>

    <div class="field mb-3 form-check">
      <%= form.check_box :remove_image, class: "form-check-input" %>
      <%= form.label :remove_image, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
