<% content_for :title, "Explore" %>

<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/flash_messages" %>

<h1>Explore</h1>

<% if user_signed_in? %>
  <div class="btn-group" role="group">
    <%= link_to "All", recipes_path(mode: 'all'), class: "btn #{@mode == 'all' ? "btn-primary" : "btn-outline-primary"}" %>
    <%= link_to "My", recipes_path(mode: 'my'), class: "btn #{@mode == 'my' ? "btn-primary" : "btn-outline-primary"}" %>
  </div>
<% end %>

<div id="recipes">
  <%= render @recipes %>
</div>

<%= will_paginate @recipes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
