<% content_for :title, "Explore" %>

<%= render partial: "layouts/navbar" %>

<p style="color: green"><%= notice %></p>

<h1>Explore</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
