<% content_for :title, @recipe.title %>
<%= render partial: "layouts/navbar" %>
<%= render partial: "layouts/flash_messages" %>

<% if @recipe.author == current_user %>
  <div class="row justify-content-center pb-3">
    <div class="col-auto">
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
    </div>
    <div class="col-auto">
      <%= button_to "Delete", @recipe, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>


<h1 class="text-center pb-3"><%= @recipe.title %></h1>

<% if @recipe.image.attached? %>
  <div class="row pb-3">
    <div class="col-12">
      <%= image_tag @recipe.image, class: "img-fluid rounded mx-auto d-block" %>
    </div>
  </div>  
<% end %>

<% if @recipe.description.present? %>
  <div class="row pb-3">
    <div class="col-12">
      <h3>Description</h3>
      <%= @recipe.description %>
    </div>
  </div>
<% end %>

<% if @recipe.directions.present? %>
  <div class="row pb-3">
    <div class="col-12">
      <h3>Directions</h3>
      <%= @recipe.directions %>
    </div>
  </div>
<% end %>