<% content_for :title, @recipe.title %>
<%= render partial: "layouts/navbar" %>
<%= render partial: "layouts/flash_messages" %>

<h1><%= @recipe.title %></h1>

<% if @recipe.image.attached? %>
  <%= image_tag @recipe.image %>
<% end %>

<p><%= @recipe.description %></p>


<%= link_to "Edit", edit_recipe_path(@recipe) %>

<%= button_to "Delete", @recipe, method: :delete, class: "btn btn-danger" %>
